#ifdef HAVE_CONFIG_H
#include "config.h"
#endif
#include "resource.rh"
#include "hv_vers.h"
#include "windows.rh"
#include "hypintl.h"



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDI_MAINFRAME	ICON	DISCARDABLE "../icons/hypview.ico"

IDB_WEBLINK	BITMAP	DISCARDABLE "res/weblink.bmp"
IDB_EMAIL	BITMAP	DISCARDABLE "res/mail.bmp"

IDI_BACK	ICON	DISCARDABLE "../icons/back.ico"
IDI_HOME	ICON	DISCARDABLE "../icons/home.ico"
IDI_INDEX	ICON	DISCARDABLE "../icons/index.ico"
IDI_INFO	ICON	DISCARDABLE "../icons/info.ico"
IDI_HELP	ICON	DISCARDABLE "../icons/help.ico"
IDI_CATALOG	ICON	DISCARDABLE "../icons/katalog.ico"
IDI_LOAD	ICON	DISCARDABLE "../icons/load.ico"
IDI_BOOKMARKS	ICON	DISCARDABLE "../icons/bookmark.ico"
IDI_MENU	ICON	DISCARDABLE "../icons/menu.ico"
IDI_HISTORY	ICON	DISCARDABLE "../icons/history.ico"
IDI_NEXT	ICON	DISCARDABLE "../icons/next.ico"
IDI_NEXTPHYS	ICON	DISCARDABLE "../icons/nextphys.ico"
IDI_PREV	ICON	DISCARDABLE "../icons/previous.ico"
IDI_PREVPHYS	ICON	DISCARDABLE "../icons/prevphys.ico"
IDI_FIRST	ICON	DISCARDABLE "../icons/first.ico"
IDI_LAST	ICON	DISCARDABLE "../icons/last.ico"
IDI_REFERENCE	ICON	DISCARDABLE "../icons/referenc.ico"
IDI_SAVE	ICON	DISCARDABLE "../icons/save.ico"
IDI_REMARKER	ICON	DISCARDABLE "../icons/remarker.ico"

#include "resource_en.rc"
#include "resource_de.rc"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDR_ACCEL ACCELERATORS 
BEGIN
	"O", IDM_FILE_OPEN, VIRTKEY, CONTROL
	"S", IDM_FILE_SAVE, VIRTKEY, CONTROL
	"I", IDM_FILE_INFO, VIRTKEY, CONTROL
	"R", IDM_FILE_REMARKER, VIRTKEY, ALT
	"U", IDM_FILE_CLOSE, VIRTKEY, CONTROL
	"Q", IDM_FILE_QUIT, VIRTKEY, CONTROL
	"C", IDM_EDIT_COPY, VIRTKEY, CONTROL
	"V", IDM_EDIT_PASTE, VIRTKEY, CONTROL
	"F", IDM_EDIT_FIND, VIRTKEY, CONTROL
	"G", IDM_EDIT_FINDNEXT, VIRTKEY, CONTROL
	"A", IDM_EDIT_SELECTALL, VIRTKEY, CONTROL
	VK_BACK, IDM_NAV_BACK, VIRTKEY
	"E", IDM_NAV_CLEARSTACK, VIRTKEY, ALT
	"T", IDM_NAV_TOC, VIRTKEY, ALT
	"X", IDM_NAV_INDEX, VIRTKEY, ALT
	"H", IDM_NAV_HELP, VIRTKEY, ALT
	"K", IDM_FILE_CATALOG, VIRTKEY, ALT
	"D", IDM_FILE_DEFAULT, VIRTKEY, ALT
	"1", IDM_FILE_RECENT_1, VIRTKEY, CONTROL
	"2", IDM_FILE_RECENT_2, VIRTKEY, CONTROL
	"3", IDM_FILE_RECENT_3, VIRTKEY, CONTROL
	"4", IDM_FILE_RECENT_4, VIRTKEY, CONTROL
	"5", IDM_FILE_RECENT_5, VIRTKEY, CONTROL
	"6", IDM_FILE_RECENT_6, VIRTKEY, CONTROL
	"7", IDM_FILE_RECENT_7, VIRTKEY, CONTROL
	"8", IDM_FILE_RECENT_8, VIRTKEY, CONTROL
	"9", IDM_FILE_RECENT_9, VIRTKEY, CONTROL
	"0", IDM_FILE_RECENT_10, VIRTKEY, CONTROL
	VK_F1, IDM_NAV_BOOKMARK_1, VIRTKEY
	VK_F2, IDM_NAV_BOOKMARK_2, VIRTKEY
	VK_F3, IDM_NAV_BOOKMARK_3, VIRTKEY
	VK_F4, IDM_NAV_BOOKMARK_4, VIRTKEY
	VK_F5, IDM_NAV_BOOKMARK_5, VIRTKEY
	VK_F6, IDM_NAV_BOOKMARK_6, VIRTKEY
	VK_F7, IDM_NAV_BOOKMARK_7, VIRTKEY
	VK_F8, IDM_NAV_BOOKMARK_8, VIRTKEY
	VK_F9, IDM_NAV_BOOKMARK_9, VIRTKEY
	VK_F19, IDM_NAV_BOOKMARK_10, VIRTKEY
	"Z", IDM_OPT_SELECTFONT, VIRTKEY, ALT
	"Z", IDM_OPT_ALTFONT, VIRTKEY, CONTROL
	"L", IDM_OPT_EXPANDSPACES, VIRTKEY, CONTROL
	"B", IDM_OPT_SCALEBITMAPS, VIRTKEY, CONTROL
	VK_SUBTRACT, IDM_NAV_PREV, VIRTKEY
	VK_ADD, IDM_NAV_NEXT, VIRTKEY
	VK_DIVIDE, IDM_NAV_PREVPHYS, VIRTKEY
	VK_MULTIPLY, IDM_NAV_NEXTPHYS, VIRTKEY
END

#include "../po/linguas.rc"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS VOS_DOS_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "Thorsten Otto\000\000"
			VALUE "FileDescription", "ST-Guide HyperText File Viewer for Win32\0"
			VALUE "FileVersion", HYPVIEW_VERSION "\0"
			VALUE "InternalName", "HYPVIEW\0"
			VALUE "LegalCopyright", "Copyright \251 Thorsten Otto 1999-" HYP_RELEASE_YEAR "\0"
			VALUE "OriginalFilename", "HYPVIEW.EXE\0"
			VALUE "ProductName", "HypView\0"
			VALUE "ProductVersion", HYPVIEW_VERSION "\0"
		END
		BLOCK "040704b0"
		BEGIN
			VALUE "CompanyName", "Thorsten Otto\000\000"
			VALUE "FileDescription", "ST-Guide HyperText File Viewer für Win32\0"
			VALUE "FileVersion", HYPVIEW_VERSION "\0"
			VALUE "InternalName", "HYPVIEW\0"
			VALUE "LegalCopyright", "Copyright \251 Thorsten Otto 1999-" HYP_RELEASE_YEAR "\0"
			VALUE "OriginalFilename", "HYPVIEW.EXE\0"
			VALUE "ProductName", "HypView\0"
			VALUE "ProductVersion", HYPVIEW_VERSION "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", PO_TRANSLATIONS
	END
END
