LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
#pragma code_page(1252)

IDR_MAIN_MENU MENUEX PRELOAD DISCARDABLE 
BEGIN
	POPUP "&Datei"
	BEGIN
		MENUITEM "&Hypertext öffnen...\tCtrl+O",	IDM_FILE_OPEN
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Als Text speichern...\tCtrl+S",	IDM_FILE_SAVE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Katalog\tAlt+K",		IDM_FILE_CATALOG
		MENUITEM "&Standard-Datei\tAlt+D",	IDM_FILE_DEFAULT
		MENUITEM "&Remarker\tAlt+R",		IDM_FILE_REMARKER
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP "Zuletzt verwendet", IDM_FILE_RECENTMENU
		BEGIN
			MENUITEM "recent-1\tCtrl+1",	IDM_FILE_RECENT_1
			MENUITEM "recent-2\tCtrl+2",	IDM_FILE_RECENT_2
			MENUITEM "recent-3\tCtrl+3",	IDM_FILE_RECENT_3
			MENUITEM "recent-4\tCtrl+4",	IDM_FILE_RECENT_4
			MENUITEM "recent-5\tCtrl+5",	IDM_FILE_RECENT_5
			MENUITEM "recent-6\tCtrl+6",	IDM_FILE_RECENT_6
			MENUITEM "recent-7\tCtrl+7",	IDM_FILE_RECENT_7
			MENUITEM "recent-8\tCtrl+8",	IDM_FILE_RECENT_8
			MENUITEM "recent-9\tCtrl+9",	IDM_FILE_RECENT_9
			MENUITEM "recent-10\tCtrl+0",	IDM_FILE_RECENT_10
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Dateiinfo...\tCtrl+I",	IDM_FILE_INFO
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Schliessen\tCtrl+U",		IDM_FILE_CLOSE
		MENUITEM "&Ende\tCtrl+Q",		IDM_FILE_QUIT
	END
	POPUP "&Bearbeiten"
	BEGIN
		MENUITEM "&Alles auswählen",            IDM_EDIT_SELECTALL
		MENUITEM "&Kopieren",                   IDM_EDIT_COPY
		MENUITEM "&Einfügen",                      IDM_EDIT_PASTE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Suchen",                     IDM_EDIT_FIND
		MENUITEM "&Weitersuchen",               IDM_EDIT_FINDNEXT
	END
	POPUP "&Navigieren"
	BEGIN
		MENUITEM "Vorherige logische Seite\tNumpad -",    IDM_NAV_PREV
		MENUITEM "Nächste logische Seite\tNumpad +",      IDM_NAV_NEXT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Vorherige logische Seite\tNumpad /",    IDM_NAV_PREVPHYS
		MENUITEM "Nächste physikalische Seite\tNumpad *", IDM_NAV_NEXTPHYS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Erste Seite",                 IDM_NAV_FIRST
		MENUITEM "Letzte Seite",                IDM_NAV_LAST
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Zum Inhaltsverzeichnis\tAlt+T",      IDM_NAV_TOC
		MENUITEM "Zum Index\tAlt+X",                   IDM_NAV_INDEX
		MENUITEM "Zur Hilfeseite\tAlt+H",              IDM_NAV_HELP
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP "&Lesezeichen", IDM_NAV_BOOKMARKSMENU
		BEGIN
			MENUITEM "bookmark-1\tF1",      IDM_NAV_BOOKMARK_1
			MENUITEM "bookmark-2\tF2",      IDM_NAV_BOOKMARK_2
			MENUITEM "bookmark-3\tF3",      IDM_NAV_BOOKMARK_3
			MENUITEM "bookmark-4\tF4",      IDM_NAV_BOOKMARK_4
			MENUITEM "bookmark-5\tF5",      IDM_NAV_BOOKMARK_5
			MENUITEM "bookmark-6\tF6",      IDM_NAV_BOOKMARK_6
			MENUITEM "bookmark-7\tF7",      IDM_NAV_BOOKMARK_6
			MENUITEM "bookmark-8\tF8",      IDM_NAV_BOOKMARK_7
			MENUITEM "bookmark-9\tF9",      IDM_NAV_BOOKMARK_8
			MENUITEM "bookmark-10\tF10",    IDM_NAV_BOOKMARK_10
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Eine Seite zurück\tBackSpace",    IDM_NAV_BACK
		MENUITEM "Stack löschen\tAlt+E",          IDM_NAV_CLEARSTACK
	END
	POPUP "&Optionen"
	BEGIN
		MENUITEM "&Zeichensatz...\tAlt+Z",     IDM_OPT_SELECTFONT
		MENUITEM "&Farben...",                 IDM_OPT_SELECTCOLORS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Ausgabe...",                IDM_OPT_OUTPUT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Alternativschrift\tCtrl+Z",  IDM_OPT_ALTFONT
		MENUITEM "&Mehrfachleerzeichen expandieren\tCtrl+L",  IDM_OPT_EXPANDSPACES
		// MENUITEM "&Bitmaps skalieren\tCtrl+B",     IDM_OPT_SCALEBITMAPS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Einstellungen...",               IDM_OPT_PREFERENCES
	END
	POPUP "&Hilfe"
	BEGIN
		MENUITEM "&Inhalt",                  IDM_HELP_CONTENTS
		MENUITEM "&Index",                     IDM_HELP_INDEX
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Über",                     IDM_HELP_ABOUT
	END
END


IDD_ABOUT DIALOG PRELOAD DISCARDABLE 0, 0, 168, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "HypView Version info"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL IDR_MAINFRAME, IDC_HV_ICON, "STATIC", SS_ICON | SS_LEFT | WS_CHILD | WS_VISIBLE, 125,15,18,20
	CONTROL "ST-Guide HyperText File Viewer für Win32", IDC_STATIC, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,5,150,8
	CONTROL "Version " HYPVIEW_VERSION, IDC_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,15,116,8
	CONTROL "Copyright \xA9 1999-" HYP_RELEASE_YEAR " by", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,30,86,8
	CONTROL "Thorsten Otto", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,45,47,8
	CONTROL "E-Mail:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,90,101,8
	CONTROL "halgara@yahoo.de", IDC_EMAIL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,90,101,8
	CONTROL IDB_EMAIL, IDC_EMAILLINK, "STATIC", SS_LEFT | SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 140,85,18,18
	CONTROL "WWW:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,115,136,8
	CONTROL HYP_URL, IDC_URL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,115,136,8
	CONTROL IDB_WEBLINK, IDC_WEBLINK, "BUTTON", BS_PUSHBUTTON | BS_BITMAP, 140,110,18,18
	CONTROL "&OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 58,130,50,14
END


