#include "resource.rh"
#include "hv_vers.h"
#include "windows.rh"



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDR_MAINFRAME	ICON	DISCARDABLE "../icons/hypview.ico"

IDB_WEBLINK	BITMAP	DISCARDABLE "res/weblink.bmp"
IDB_EMAIL	BITMAP	DISCARDABLE "res/mail.bmp"


IDR_MAIN_MENU MENUEX PRELOAD DISCARDABLE 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open Hypertext...\tCtrl+O",	IDM_FILE_OPEN
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Save text...\tCtrl+S",	IDM_FILE_SAVE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Catalog\tAlt+K",		IDM_FILE_CATALOG
		MENUITEM "&Default file\tAlt+D",	IDM_FILE_DEFAULT
		MENUITEM "&Remarker\tAlt+R",		IDM_FILE_REMARKER
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP "Open Recent", IDM_FILE_RECENTMENU
		BEGIN
			MENUITEM "recent-1\tCtrl+1",	IDM_FILE_RECENT_1
			MENUITEM "recent-2\tCtrl+2",	IDM_FILE_RECENT_2
			MENUITEM "recent-3\tCtrl+3",	IDM_FILE_RECENT_3
			MENUITEM "recent-4\tCtrl+4",	IDM_FILE_RECENT_4
			MENUITEM "recent-5\tCtrl+5",	IDM_FILE_RECENT_5
			MENUITEM "recent-6\tCtrl+6",	IDM_FILE_RECENT_6
			MENUITEM "recent-7\tCtrl+7",	IDM_FILE_RECENT_7
			MENUITEM "recent-8\tCtrl+8",	IDM_FILE_RECENT_8
			MENUITEM "recent-9\tCtrl+9",	IDM_FILE_RECENT_9
			MENUITEM "recent-10\tCtrl+0",	IDM_FILE_RECENT_10
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&File info...\tCtrl+I",	IDM_FILE_INFO
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Close\tCtrl+U",		IDM_FILE_CLOSE
		MENUITEM "&Quit\tCtrl+Q",		IDM_FILE_QUIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "Select &All",                 IDM_EDIT_SELECTALL
		MENUITEM "&Copy",                       IDM_EDIT_COPY
		MENUITEM "&Paste",                      IDM_EDIT_PASTE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Find",                       IDM_EDIT_FIND
		MENUITEM "Find &Next",                  IDM_EDIT_FINDNEXT
	END
	POPUP "&Navigate"
	BEGIN
		MENUITEM "Previous logical page\tNumpad -",       IDM_NAV_PREV
		MENUITEM "Next logical page\tNumpad +",           IDM_NAV_NEXT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Previous physical page\tNumpad /",      IDM_NAV_PREVPHYS
		MENUITEM "Next physical page\tNumpad *",          IDM_NAV_NEXTPHYS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "First page",                  IDM_NAV_FIRST
		MENUITEM "Last page",                   IDM_NAV_LAST
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Contents\tAlt+T",                    IDM_NAV_TOC
		MENUITEM "Index\tAlt+X",                       IDM_NAV_INDEX
		MENUITEM "Show help page\tAlt+H",              IDM_NAV_HELP
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP "&Bookmarks", IDM_NAV_BOOKMARKSMENU
		BEGIN
			MENUITEM "bookmark-1\tF1",      IDM_NAV_BOOKMARK_1
			MENUITEM "bookmark-2\tF2",      IDM_NAV_BOOKMARK_2
			MENUITEM "bookmark-3\tF3",      IDM_NAV_BOOKMARK_3
			MENUITEM "bookmark-4\tF4",      IDM_NAV_BOOKMARK_4
			MENUITEM "bookmark-5\tF5",      IDM_NAV_BOOKMARK_5
			MENUITEM "bookmark-6\tF6",      IDM_NAV_BOOKMARK_6
			MENUITEM "bookmark-7\tF7",      IDM_NAV_BOOKMARK_6
			MENUITEM "bookmark-8\tF8",      IDM_NAV_BOOKMARK_7
			MENUITEM "bookmark-9\tF9",      IDM_NAV_BOOKMARK_8
			MENUITEM "bookmark-10\tF10",    IDM_NAV_BOOKMARK_10
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Back one page\tBackSpace",    IDM_NAV_BACK
		MENUITEM "Clear stack\tAlt+E",          IDM_NAV_CLEARSTACK
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "&Font...\tAlt+Z",            IDM_OPT_SELECTFONT
		MENUITEM "&Colors...",                 IDM_OPT_SELECTCOLORS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Output...",                 IDM_OPT_OUTPUT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Alternative font\tCtrl+Z",  IDM_OPT_ALTFONT
		MENUITEM "&Expand multiple spaces\tCtrl+L",  IDM_OPT_EXPANDSPACES
		// MENUITEM "&Scale bitmaps\tCtrl+B",     IDM_OPT_SCALEBITMAPS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Settings...",               IDM_OPT_PREFERENCES
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&Contents",                  IDM_HELP_CONTENTS
		MENUITEM "&Index",                     IDM_HELP_INDEX
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&About",                     IDM_HELP_ABOUT
	END
END

#if 1
IDR_MAIN_MENU MENUEX PRELOAD DISCARDABLE 
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
BEGIN
	POPUP "&Datei"
	BEGIN
		MENUITEM "&Hypertext öffnen...\tCtrl+O",	IDM_FILE_OPEN
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Als Text speichern...\tCtrl+S",	IDM_FILE_SAVE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Katalog\tAlt+K",		IDM_FILE_CATALOG
		MENUITEM "&Standard-Datei\tAlt+D",	IDM_FILE_DEFAULT
		MENUITEM "&Remarker\tAlt+R",		IDM_FILE_REMARKER
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP "Zuletzt verwendet", IDM_FILE_RECENTMENU
		BEGIN
			MENUITEM "recent-1\tCtrl+1",	IDM_FILE_RECENT_1
			MENUITEM "recent-2\tCtrl+2",	IDM_FILE_RECENT_2
			MENUITEM "recent-3\tCtrl+3",	IDM_FILE_RECENT_3
			MENUITEM "recent-4\tCtrl+4",	IDM_FILE_RECENT_4
			MENUITEM "recent-5\tCtrl+5",	IDM_FILE_RECENT_5
			MENUITEM "recent-6\tCtrl+6",	IDM_FILE_RECENT_6
			MENUITEM "recent-7\tCtrl+7",	IDM_FILE_RECENT_7
			MENUITEM "recent-8\tCtrl+8",	IDM_FILE_RECENT_8
			MENUITEM "recent-9\tCtrl+9",	IDM_FILE_RECENT_9
			MENUITEM "recent-10\tCtrl+0",	IDM_FILE_RECENT_10
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Dateiinfo...\tCtrl+I",	IDM_FILE_INFO
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Schliessen\tCtrl+U",		IDM_FILE_CLOSE
		MENUITEM "&Ende\tCtrl+Q",		IDM_FILE_QUIT
	END
	POPUP "&Bearbeiten"
	BEGIN
		MENUITEM "&Alles auswählen",            IDM_EDIT_SELECTALL
		MENUITEM "&Kopieren",                   IDM_EDIT_COPY
		MENUITEM "&Einfügen",                      IDM_EDIT_PASTE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Suchen",                     IDM_EDIT_FIND
		MENUITEM "&Weitersuchen",               IDM_EDIT_FINDNEXT
	END
	POPUP "&Navigieren"
	BEGIN
		MENUITEM "Vorherige logische Seite\tNumpad -",    IDM_NAV_PREV
		MENUITEM "Nächste logische Seite\tNumpad +",      IDM_NAV_NEXT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Vorherige logische Seite\tNumpad /",    IDM_NAV_PREVPHYS
		MENUITEM "Nächste physikalische Seite\tNumpad *", IDM_NAV_NEXTPHYS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Erste Seite",                 IDM_NAV_FIRST
		MENUITEM "Letzte Seite",                IDM_NAV_LAST
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Zum Inhaltsverzeichnis\tAlt+T",      IDM_NAV_TOC
		MENUITEM "Zum Index\tAlt+X",                   IDM_NAV_INDEX
		MENUITEM "Zur Hilfeseite\tAlt+H",              IDM_NAV_HELP
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP "&Lesezeichen", IDM_NAV_BOOKMARKSMENU
		BEGIN
			MENUITEM "bookmark-1\tF1",      IDM_NAV_BOOKMARK_1
			MENUITEM "bookmark-2\tF2",      IDM_NAV_BOOKMARK_2
			MENUITEM "bookmark-3\tF3",      IDM_NAV_BOOKMARK_3
			MENUITEM "bookmark-4\tF4",      IDM_NAV_BOOKMARK_4
			MENUITEM "bookmark-5\tF5",      IDM_NAV_BOOKMARK_5
			MENUITEM "bookmark-6\tF6",      IDM_NAV_BOOKMARK_6
			MENUITEM "bookmark-7\tF7",      IDM_NAV_BOOKMARK_6
			MENUITEM "bookmark-8\tF8",      IDM_NAV_BOOKMARK_7
			MENUITEM "bookmark-9\tF9",      IDM_NAV_BOOKMARK_8
			MENUITEM "bookmark-10\tF10",    IDM_NAV_BOOKMARK_10
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Eine Seite zurück\tBackSpace",    IDM_NAV_BACK
		MENUITEM "Stack löschen\tAlt+E",          IDM_NAV_CLEARSTACK
	END
	POPUP "&Optionen"
	BEGIN
		MENUITEM "&Zeichensatz...\tAlt+Z",     IDM_OPT_SELECTFONT
		MENUITEM "&Farben...",                 IDM_OPT_SELECTCOLORS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Ausgabe...",                IDM_OPT_OUTPUT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Alternativschrift\tCtrl+Z",  IDM_OPT_ALTFONT
		MENUITEM "&Mehrfachleerzeichen expandieren\tCtrl+L",  IDM_OPT_EXPANDSPACES
		// MENUITEM "&Bitmaps skalieren\tCtrl+B",     IDM_OPT_SCALEBITMAPS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Einstellungen...",               IDM_OPT_PREFERENCES
	END
	POPUP "&Hilfe"
	BEGIN
		MENUITEM "&Inhalt",                  IDM_HELP_CONTENTS
		MENUITEM "&Index",                     IDM_HELP_INDEX
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Über",                     IDM_HELP_ABOUT
	END
END
#endif


IDD_ABOUT DIALOG PRELOAD DISCARDABLE 0, 0, 168, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "HypView Version info"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL IDR_MAINFRAME, IDC_HV_ICON, "STATIC", SS_ICON | SS_LEFT | WS_CHILD | WS_VISIBLE, 125,15,18,20
	CONTROL "ST-Guide HyperText File Viewer for Win32", IDC_STATIC, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,5,150,8
	CONTROL "Version " HYPVIEW_VERSION, IDC_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,15,116,8
	CONTROL "Copyright \xA9 1999-" HYP_RELEASE_YEAR " by", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,30,86,8
	CONTROL "Thorsten Otto", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,45,47,8
	CONTROL "E-Mail:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,90,101,8
	CONTROL "halgara@yahoo.de", IDC_EMAIL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,90,101,8
	CONTROL IDB_EMAIL, IDC_EMAILLINK, "STATIC", SS_LEFT | SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 140,85,18,18
	CONTROL "WWW:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,115,136,8
	CONTROL HYP_URL, IDC_URL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,115,136,8
	CONTROL IDB_WEBLINK, IDC_WEBLINK, "BUTTON", BS_PUSHBUTTON | BS_BITMAP, 140,110,18,18
	CONTROL "&OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 58,130,50,14
END


IDD_ABOUT DIALOG PRELOAD DISCARDABLE 0, 0, 168, 150
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "HypView Version info"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL IDR_MAINFRAME, IDC_HV_ICON, "STATIC", SS_ICON | SS_LEFT | WS_CHILD | WS_VISIBLE, 125,15,18,20
	CONTROL "ST-Guide HyperText File Viewer für Win32", IDC_STATIC, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,5,150,8
	CONTROL "Version " HYPVIEW_VERSION, IDC_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,15,116,8
	CONTROL "Copyright \xA9 1999-" HYP_RELEASE_YEAR " by", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,30,86,8
	CONTROL "Thorsten Otto", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,45,47,8
	CONTROL "E-Mail:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,90,101,8
	CONTROL "halgara@yahoo.de", IDC_EMAIL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,90,101,8
	CONTROL IDB_EMAIL, IDC_EMAILLINK, "STATIC", SS_LEFT | SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 140,85,18,18
	CONTROL "WWW:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,115,136,8
	CONTROL HYP_URL, IDC_URL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,115,136,8
	CONTROL IDB_WEBLINK, IDC_WEBLINK, "BUTTON", BS_PUSHBUTTON | BS_BITMAP, 140,110,18,18
	CONTROL "&OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 58,130,50,14
END


IDR_ACCEL ACCELERATORS 
BEGIN
	"O", IDM_FILE_OPEN, VIRTKEY, CONTROL
	"S", IDM_FILE_SAVE, VIRTKEY, CONTROL
	"I", IDM_FILE_INFO, VIRTKEY, CONTROL
	"R", IDM_FILE_REMARKER, VIRTKEY, ALT
	"U", IDM_FILE_CLOSE, VIRTKEY, CONTROL
	"Q", IDM_FILE_QUIT, VIRTKEY, CONTROL
	"C", IDM_EDIT_COPY, VIRTKEY, CONTROL
	"V", IDM_EDIT_PASTE, VIRTKEY, CONTROL
	"F", IDM_EDIT_FIND, VIRTKEY, CONTROL
	"G", IDM_EDIT_FINDNEXT, VIRTKEY, CONTROL
	"A", IDM_EDIT_SELECTALL, VIRTKEY, CONTROL
	VK_BACK, IDM_NAV_BACK, VIRTKEY
	"E", IDM_NAV_CLEARSTACK, VIRTKEY, ALT
	"T", IDM_NAV_TOC, VIRTKEY, ALT
	"X", IDM_NAV_INDEX, VIRTKEY, ALT
	"H", IDM_NAV_HELP, VIRTKEY, ALT
	"K", IDM_FILE_CATALOG, VIRTKEY, ALT
	"D", IDM_FILE_DEFAULT, VIRTKEY, ALT
	"1", IDM_FILE_RECENT_1, VIRTKEY, CONTROL
	"2", IDM_FILE_RECENT_2, VIRTKEY, CONTROL
	"3", IDM_FILE_RECENT_3, VIRTKEY, CONTROL
	"4", IDM_FILE_RECENT_4, VIRTKEY, CONTROL
	"5", IDM_FILE_RECENT_5, VIRTKEY, CONTROL
	"6", IDM_FILE_RECENT_6, VIRTKEY, CONTROL
	"7", IDM_FILE_RECENT_7, VIRTKEY, CONTROL
	"8", IDM_FILE_RECENT_8, VIRTKEY, CONTROL
	"9", IDM_FILE_RECENT_9, VIRTKEY, CONTROL
	"0", IDM_FILE_RECENT_10, VIRTKEY, CONTROL
	VK_F1, IDM_NAV_BOOKMARK_1, VIRTKEY
	VK_F2, IDM_NAV_BOOKMARK_2, VIRTKEY
	VK_F3, IDM_NAV_BOOKMARK_3, VIRTKEY
	VK_F4, IDM_NAV_BOOKMARK_4, VIRTKEY
	VK_F5, IDM_NAV_BOOKMARK_5, VIRTKEY
	VK_F6, IDM_NAV_BOOKMARK_6, VIRTKEY
	VK_F7, IDM_NAV_BOOKMARK_7, VIRTKEY
	VK_F8, IDM_NAV_BOOKMARK_8, VIRTKEY
	VK_F9, IDM_NAV_BOOKMARK_9, VIRTKEY
	VK_F19, IDM_NAV_BOOKMARK_10, VIRTKEY
	"Z", IDM_OPT_SELECTFONT, VIRTKEY, ALT
	"Z", IDM_OPT_ALTFONT, VIRTKEY, CONTROL
	"L", IDM_OPT_EXPANDSPACES, VIRTKEY, CONTROL
	"B", IDM_OPT_SCALEBITMAPS, VIRTKEY, CONTROL
	VK_SUBTRACT, IDM_NAV_PREV, VIRTKEY
	VK_ADD, IDM_NAV_NEXT, VIRTKEY
	VK_DIVIDE, IDM_NAV_PREVPHYS, VIRTKEY
	VK_MULTIPLY, IDM_NAV_NEXTPHYS, VIRTKEY
END


VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS VOS_DOS_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "Thorsten Otto\000\000"
			VALUE "FileDescription", "ST-Guide HyperText File Viewer for Win32\0"
			VALUE "FileVersion", HYPVIEW_VERSION "\0"
			VALUE "InternalName", "HYPVIEW\0"
			VALUE "LegalCopyright", "Copyright \251 Thorsten Otto 1999-" HYP_RELEASE_YEAR "\0"
			VALUE "OriginalFilename", "HYPVIEW.EXE\0"
			VALUE "ProductName", "HypView\0"
			VALUE "ProductVersion", HYPVIEW_VERSION "\0"
		END
		BLOCK "040704b0"
		BEGIN
			VALUE "CompanyName", "Thorsten Otto\000\000"
			VALUE "FileDescription", "ST-Guide HyperText File Viewer für Win32\0"
			VALUE "FileVersion", HYPVIEW_VERSION "\0"
			VALUE "InternalName", "HYPVIEW\0"
			VALUE "LegalCopyright", "Copyright \251 Thorsten Otto 1999-" HYP_RELEASE_YEAR "\0"
			VALUE "OriginalFilename", "HYPVIEW.EXE\0"
			VALUE "ProductName", "HypView\0"
			VALUE "ProductVersion", HYPVIEW_VERSION "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200, 0x407, 1200
	END
END
