LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDR_MAIN_MENU MENUEX PRELOAD DISCARDABLE 
BEGIN
	POPUP N_("&File"), IDM_FILE_MENU
	BEGIN
		MENUITEM N_("&Open Hypertext...\tCtrl+O"),	IDM_FILE_OPEN
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Save text...\tCtrl+S"),	        IDM_FILE_SAVE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Catalog\tAlt+K"),		        IDM_FILE_CATALOG
		MENUITEM N_("&Default file\tAlt+D"),	        IDM_FILE_DEFAULT
		MENUITEM N_("&Remarker\tAlt+R"),		IDM_FILE_REMARKER
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP N_("Open Recent"), IDM_FILE_RECENTMENU
		BEGIN
			MENUITEM "recent-1\tCtrl+1",	IDM_FILE_RECENT_1
			MENUITEM "recent-2\tCtrl+2",	IDM_FILE_RECENT_2
			MENUITEM "recent-3\tCtrl+3",	IDM_FILE_RECENT_3
			MENUITEM "recent-4\tCtrl+4",	IDM_FILE_RECENT_4
			MENUITEM "recent-5\tCtrl+5",	IDM_FILE_RECENT_5
			MENUITEM "recent-6\tCtrl+6",	IDM_FILE_RECENT_6
			MENUITEM "recent-7\tCtrl+7",	IDM_FILE_RECENT_7
			MENUITEM "recent-8\tCtrl+8",	IDM_FILE_RECENT_8
			MENUITEM "recent-9\tCtrl+9",	IDM_FILE_RECENT_9
			MENUITEM "recent-10\tCtrl+0",	IDM_FILE_RECENT_10
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&File info...\tCtrl+I"),	IDM_FILE_INFO
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Close\tCtrl+U"),		IDM_FILE_CLOSE
		MENUITEM N_("&Quit\tCtrl+Q"),		IDM_FILE_QUIT
	END
	POPUP N_("&Edit"), IDM_EDIT_MENU
	BEGIN
		MENUITEM N_("Select &All\tCtrl+A"),         IDM_EDIT_SELECTALL
		MENUITEM N_("&Copy\tCtrl+C"),               IDM_EDIT_COPY
		MENUITEM N_("&Paste\tCtrl+V"),              IDM_EDIT_PASTE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Find\tCtrl+F"),               IDM_EDIT_FIND
		MENUITEM N_("Find &Next\tCtrl+G"),          IDM_EDIT_FINDNEXT
	END
	POPUP N_("&Navigate"), IDM_NAV_MENU
	BEGIN
		MENUITEM N_("Previous logical page\tNumpad -"),       IDM_NAV_PREV
		MENUITEM N_("Next logical page\tNumpad +"),           IDM_NAV_NEXT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("Previous physical page\tNumpad /"),      IDM_NAV_PREVPHYS
		MENUITEM N_("Next physical page\tNumpad *"),          IDM_NAV_NEXTPHYS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("First page"),                            IDM_NAV_FIRST
		MENUITEM N_("Last page"),                             IDM_NAV_LAST
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("Contents\tAlt+T"),                       IDM_NAV_TOC
		MENUITEM N_("Index\tAlt+X"),                          IDM_NAV_INDEX
		MENUITEM N_("Show help page\tAlt+H"),                 IDM_NAV_HELP
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP N_("&Bookmarks"), IDM_NAV_BOOKMARKSMENU
		BEGIN
			MENUITEM "bookmark-1\tF1",      IDM_NAV_BOOKMARK_1
			MENUITEM "bookmark-2\tF2",      IDM_NAV_BOOKMARK_2
			MENUITEM "bookmark-3\tF3",      IDM_NAV_BOOKMARK_3
			MENUITEM "bookmark-4\tF4",      IDM_NAV_BOOKMARK_4
			MENUITEM "bookmark-5\tF5",      IDM_NAV_BOOKMARK_5
			MENUITEM "bookmark-6\tF6",      IDM_NAV_BOOKMARK_6
			MENUITEM "bookmark-7\tF7",      IDM_NAV_BOOKMARK_7
			MENUITEM "bookmark-8\tF8",      IDM_NAV_BOOKMARK_8
			MENUITEM "bookmark-9\tF9",      IDM_NAV_BOOKMARK_9
			MENUITEM "bookmark-10\tF10",    IDM_NAV_BOOKMARK_10
			MENUITEM "bookmark-11\tF11",    IDM_NAV_BOOKMARK_11
			MENUITEM "bookmark-12\tF12",    IDM_NAV_BOOKMARK_12
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("Back one page\tBackSpace"),    IDM_NAV_BACK
		MENUITEM N_("Clear stack\tAlt+E"),          IDM_NAV_CLEARSTACK
	END
	POPUP N_("&Options"), IDM_OPT_MENU
	BEGIN
		MENUITEM N_("&Font...\tAlt+Z"),             IDM_OPT_SELECTFONT
		MENUITEM N_("&Colors..."),                  IDM_OPT_SELECTCOLORS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Output..."),                  IDM_OPT_OUTPUT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Alternative font\tCtrl+Z"),   IDM_OPT_ALTFONT
		MENUITEM N_("&Expand multiple spaces\tCtrl+L"),  IDM_OPT_EXPANDSPACES
		// MENUITEM N_("&Scale bitmaps\tCtrl+B"),   IDM_OPT_SCALEBITMAPS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Settings..."),                IDM_OPT_PREFERENCES
	END
	POPUP N_("&Help"), IDM_HELP_MENU
	BEGIN
		MENUITEM N_("&Contents"),                   IDM_HELP_CONTENTS
		MENUITEM N_("&Index"),                      IDM_HELP_INDEX
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&About"),                      IDM_HELP_ABOUT
	END
END


IDR_CONTEXT_MENU MENUEX PRELOAD DISCARDABLE 
BEGIN
	POPUP N_("&Context"), IDM_CONTEXT_POPUP
	BEGIN
		MENUITEM N_("Back\tBackSpace"),             IDM_NAV_BACK
		MENUITEM N_("&Copy\tCtrl+C"),               IDM_EDIT_COPY
		MENUITEM N_("&Insert\tCtrl+V"),             IDM_EDIT_PASTE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("Select &All\tCtrl+A"),         IDM_EDIT_SELECTALL
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Save text...\tCtrl+S"),	    IDM_FILE_SAVE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Find\tCtrl+F"),               IDM_EDIT_FIND
		MENUITEM N_("Find &Next\tCtrl+G"),          IDM_EDIT_FINDNEXT
		MENUITEM N_("Clear stack\tAlt+E"),          IDM_NAV_CLEARSTACK
		MENUITEM N_("&Print\tCtrl+P"),              IDM_FILE_PRINT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Switch font\tCtrl+Z"),        IDM_OPT_ALTFONT
		MENUITEM N_("Select &Font...\tAlt+Z"),      IDM_OPT_SELECTFONT
		MENUITEM N_("&Remarker\tAlt+R"),	    IDM_FILE_REMARKER
	END
END


IDD_ABOUT DIALOG PRELOAD DISCARDABLE 0, 0, 168, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION N_("HypView Version info")
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL IDI_MAINFRAME, IDC_HV_ICON, "STATIC", SS_ICON | SS_LEFT | WS_CHILD | WS_VISIBLE, 145,5,18,20
	CONTROL N_("ST-Guide HyperText File Viewer for Win32"), IDC_STATIC, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,5,140,8
	CONTROL N_("Version ") HYPVIEW_VERSION, IDC_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,15,116,8
	CONTROL "HCP", IDC_STATIC, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,25,116,8
	CONTROL "", IDC_HCP_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 21,25,150,8
	CONTROL "", IDC_COMPILE_DATE, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,35,150,8
	CONTROL "", IDC_COMPILER_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,45,150,8
	CONTROL "Copyright \xA9 1999-" HYP_RELEASE_YEAR " by", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,60,86,8
	CONTROL "Thorsten Otto", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,75,47,8
	CONTROL "E-Mail:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,120,101,8
	CONTROL "halgara@yahoo.de", IDC_EMAIL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,120,101,8
	CONTROL IDB_EMAIL, IDC_EMAILLINK, "STATIC", SS_LEFT | SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 140,115,18,18
	CONTROL "WWW:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,145,151,8
	CONTROL HYP_URL, IDC_URL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,145,136,8
	CONTROL IDB_WEBLINK, IDC_WEBLINK, "BUTTON", BS_PUSHBUTTON | BS_BITMAP, 140,140,18,18
	CONTROL N_("&OK"), IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 58,160,50,14
END


IDD_FILEINFO DIALOG PRELOAD DISCARDABLE 0, 0, 208, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION N_("File Info")
FONT 8, "MS Sans Serif"
BEGIN
        LTEXT           N_("File :"), IDC_STATIC, 5,5,40,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_FILE, 45,5,160,8, SS_NOPREFIX
        LTEXT           N_("Topic :"), IDC_STATIC, 5,15,40,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_DATABASE, 45,15,160,8, SS_NOPREFIX
        LTEXT           N_("Author :"), IDC_STATIC, 5,25,40,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_AUTHOR, 45,25,160,8, SS_NOPREFIX
        LTEXT           N_("Version :"), IDC_STATIC, 5,35,40,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_VERSION, 45,35,160,8, SS_NOPREFIX
        LTEXT           N_("Subject :"), IDC_STATIC, 5,45,40,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_SUBJECT, 45,45,160,8, SS_NOPREFIX
	GROUPBOX	N_("Details"), IDC_INFO_MORE_BOX, 5,60,198,110
        LTEXT           N_("Nodes :"), IDC_STATIC, 15,70,50,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_NODES, 65,70,130,8, SS_NOPREFIX
        LTEXT           N_("Index Size :"), IDC_STATIC, 15,80,50,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_INDEXSIZE, 65,80,130,8, SS_NOPREFIX
        LTEXT           N_("HCP-Version :"), IDC_STATIC, 15,90,50,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_HCPVERSION, 65,90,130,8, SS_NOPREFIX
        LTEXT           N_("Compiled on :"), IDC_STATIC, 15,100,50,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_OS, 65,100,130,8, SS_NOPREFIX
        LTEXT           "@charset :", IDC_STATIC, 15,110,50,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_CHARSET, 65,110,130,8, SS_NOPREFIX
        LTEXT           "@default :", IDC_STATIC, 15,120,50,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_DEFAULT, 65,120,130,8, SS_NOPREFIX
        LTEXT           "@help :", IDC_STATIC, 15,130,50,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_HELP, 65,130,130,8, SS_NOPREFIX
        LTEXT           "@options :", IDC_STATIC, 15,140,50,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_OPTIONS, 65,140,130,8, SS_NOPREFIX
        LTEXT           "@width :", IDC_STATIC, 15,150,50,8, SS_NOPREFIX
        LTEXT           "", IDC_INFO_WIDTH, 65,150,130,8, SS_NOPREFIX
        PUSHBUTTON      N_("&Help"), IDHELP, 20,180,50,14, WS_GROUP
        DEFPUSHBUTTON   N_("&OK"), IDOK, 140,180,50,14, WS_GROUP
END


IDD_SEARCHBOX DIALOG PRELOAD DISCARDABLE 0, 0, 208, 20
STYLE WS_CHILD | DS_3DLOOK
FONT 8, "MS Sans Serif"
BEGIN
        LTEXT           N_("Search :"), IDC_STATIC, 5,5,40,8, SS_NOPREFIX
        LTEXT           "", IDC_SEARCH_ENTRY, 45,5,160,8, SS_NOPREFIX
        LTEXT           "not found!", IDC_SEARCH_NOTFOUND, 210,5,40,8, SS_NOPREFIX | NOT WS_VISIBLE
END


IDD_HYPFIND DIALOG PRELOAD DISCARDABLE 0, 0, 208, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION N_("Search text")
FONT 8, "MS Sans Serif"
BEGIN
        LTEXT           N_("Search :"), IDC_STATIC, 5,7,40,8, SS_NOPREFIX
        EDITTEXT        IDC_HYPFIND_STRING, 45,5,160,12, ES_LEFT
        AUTOCHECKBOX    N_("Case sensitive"), IDC_HYPFIND_CASE, 20,25,60,14, WS_GROUP
        AUTOCHECKBOX    N_("Match words only"), IDC_HYPFIND_WORD, 90,25,70,14, WS_GROUP
        PUSHBUTTON      N_("in page"), IDC_HYPFIND_TEXT, 20,50,50,14, WS_GROUP
        DEFPUSHBUTTON   N_("as page"), IDC_HYPFIND_PAGES, 80,50,50,14, WS_GROUP
        PUSHBUTTON      N_("as reference"), IDC_HYPFIND_REF, 150,50,50,14, WS_GROUP
        PUSHBUTTON      N_("in all pages"), IDC_HYPFIND_ALL_PAGE, 20,75,50,14, WS_GROUP
        PUSHBUTTON      N_("...of all Hypertexts"), IDC_HYPFIND_ALL_HYP, 80,75,60,14, WS_GROUP
        PUSHBUTTON      N_("&Cancel"), IDCANCEL, 150,75,50,14, WS_GROUP
END
