LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
#pragma code_page(1252)

IDR_MAIN_MENU MENUEX PRELOAD DISCARDABLE 
BEGIN
	POPUP "&Datei", IDM_FILE_MENU
	BEGIN
		MENUITEM "&Hypertext öffnen...\tCtrl+O",	IDM_FILE_OPEN
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Als Text speichern...\tCtrl+S",	IDM_FILE_SAVE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Katalog\tAlt+K",		IDM_FILE_CATALOG
		MENUITEM "&Standard-Datei\tAlt+D",	IDM_FILE_DEFAULT
		MENUITEM "&Remarker\tAlt+R",		IDM_FILE_REMARKER
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP "Zuletzt verwendet", IDM_FILE_RECENTMENU
		BEGIN
			MENUITEM "recent-1\tCtrl+1",	IDM_FILE_RECENT_1
			MENUITEM "recent-2\tCtrl+2",	IDM_FILE_RECENT_2
			MENUITEM "recent-3\tCtrl+3",	IDM_FILE_RECENT_3
			MENUITEM "recent-4\tCtrl+4",	IDM_FILE_RECENT_4
			MENUITEM "recent-5\tCtrl+5",	IDM_FILE_RECENT_5
			MENUITEM "recent-6\tCtrl+6",	IDM_FILE_RECENT_6
			MENUITEM "recent-7\tCtrl+7",	IDM_FILE_RECENT_7
			MENUITEM "recent-8\tCtrl+8",	IDM_FILE_RECENT_8
			MENUITEM "recent-9\tCtrl+9",	IDM_FILE_RECENT_9
			MENUITEM "recent-10\tCtrl+0",	IDM_FILE_RECENT_10
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Dateiinfo...\tCtrl+I",	IDM_FILE_INFO
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Schliessen\tCtrl+U",		IDM_FILE_CLOSE
		MENUITEM "&Ende\tCtrl+Q",		IDM_FILE_QUIT
	END
	POPUP "&Bearbeiten", IDM_EDIT_MENU
	BEGIN
		MENUITEM "&Alles auswählen\tCtrl+A",    IDM_EDIT_SELECTALL
		MENUITEM "&Kopieren\tCtrl+C",           IDM_EDIT_COPY
		MENUITEM "&Einfügen\tCtrl+V",           IDM_EDIT_PASTE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Suchen\tCtrl+F",             IDM_EDIT_FIND
		MENUITEM "&Weitersuchen\tCtrl+G",       IDM_EDIT_FINDNEXT
	END
	POPUP "&Navigieren", IDM_NAV_MENU
	BEGIN
		MENUITEM "Vorherige logische Seite\tNumpad -",    IDM_NAV_PREV
		MENUITEM "Nächste logische Seite\tNumpad +",      IDM_NAV_NEXT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Vorherige logische Seite\tNumpad /",    IDM_NAV_PREVPHYS
		MENUITEM "Nächste physikalische Seite\tNumpad *", IDM_NAV_NEXTPHYS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Erste Seite",                 IDM_NAV_FIRST
		MENUITEM "Letzte Seite",                IDM_NAV_LAST
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Zum Inhaltsverzeichnis\tAlt+T",      IDM_NAV_TOC
		MENUITEM "Zum Index\tAlt+X",                   IDM_NAV_INDEX
		MENUITEM "Zur Hilfeseite\tAlt+H",              IDM_NAV_HELP
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP "&Lesezeichen", IDM_NAV_BOOKMARKSMENU
		BEGIN
			MENUITEM "bookmark-1\tF1",      IDM_NAV_BOOKMARK_1
			MENUITEM "bookmark-2\tF2",      IDM_NAV_BOOKMARK_2
			MENUITEM "bookmark-3\tF3",      IDM_NAV_BOOKMARK_3
			MENUITEM "bookmark-4\tF4",      IDM_NAV_BOOKMARK_4
			MENUITEM "bookmark-5\tF5",      IDM_NAV_BOOKMARK_5
			MENUITEM "bookmark-6\tF6",      IDM_NAV_BOOKMARK_6
			MENUITEM "bookmark-7\tF7",      IDM_NAV_BOOKMARK_7
			MENUITEM "bookmark-8\tF8",      IDM_NAV_BOOKMARK_8
			MENUITEM "bookmark-9\tF9",      IDM_NAV_BOOKMARK_9
			MENUITEM "bookmark-10\tF10",    IDM_NAV_BOOKMARK_10
			MENUITEM "bookmark-11\tF11",    IDM_NAV_BOOKMARK_11
			MENUITEM "bookmark-12\tF12",    IDM_NAV_BOOKMARK_12
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Eine Seite zurück\tBackSpace",    IDM_NAV_BACK
		MENUITEM "Stack löschen\tAlt+E",          IDM_NAV_CLEARSTACK
	END
	POPUP "&Optionen", IDM_OPT_MENU
	BEGIN
		MENUITEM "&Zeichensatz...\tAlt+Z",     IDM_OPT_SELECTFONT
		MENUITEM "&Farben...",                 IDM_OPT_SELECTCOLORS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Ausgabe...",                IDM_OPT_OUTPUT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Alternativschrift\tCtrl+Z",  IDM_OPT_ALTFONT
		MENUITEM "&Mehrfachleerzeichen expandieren\tCtrl+L",  IDM_OPT_EXPANDSPACES
		// MENUITEM "&Bitmaps skalieren\tCtrl+B",     IDM_OPT_SCALEBITMAPS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Einstellungen...",               IDM_OPT_PREFERENCES
	END
	POPUP "&Hilfe", IDM_HELP_MENU
	BEGIN
		MENUITEM "&Inhalt",                   IDM_HELP_CONTENTS
		MENUITEM "&Index",                    IDM_HELP_INDEX
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Über",                     IDM_HELP_ABOUT
	END
END


IDR_CONTEXT_MENU MENUEX PRELOAD DISCARDABLE 
BEGIN
	POPUP N_("&Context"), IDM_CONTEXT_POPUP
	BEGIN
		MENUITEM N_("Zurück\tBackSpace"),           IDM_NAV_BACK
		MENUITEM N_("&Kopieren\tCtrl+C"),           IDM_EDIT_COPY
		MENUITEM N_("&Einfügen\tCtrl+V"),           IDM_EDIT_PASTE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("Select &All\tCtrl+A"),         IDM_EDIT_SELECTALL
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Als Text speichern...\tCtrl+S"), IDM_FILE_SAVE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Suchen\tCtrl+F"),             IDM_EDIT_FIND
		MENUITEM N_("&Weitersuchen\tCtrl+G"),       IDM_EDIT_FINDNEXT
		MENUITEM N_("Stack löschen\tAlt+E"),        IDM_NAV_CLEARSTACK
		MENUITEM N_("&Drucken\tCtrl+P"),            IDM_FILE_PRINT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM N_("&Alternativschrift\tCtrl+Z"),  IDM_OPT_ALTFONT
		MENUITEM N_("&Zeichensatz...\tAlt+Z"),      IDM_OPT_SELECTFONT
		MENUITEM N_("&Remarker\tAlt+R"),	    IDM_FILE_REMARKER
	END
END


IDD_ABOUT DIALOG PRELOAD DISCARDABLE 0, 0, 168, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "HypView Versions Info"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL IDI_MAINFRAME, IDC_HV_ICON, "STATIC", SS_ICON | SS_LEFT | WS_CHILD | WS_VISIBLE, 145,5,18,20
	CONTROL "ST-Guide HyperText File Viewer für Win32", IDC_STATIC, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,5,140,8
	CONTROL "Version " HYPVIEW_VERSION, IDC_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,15,116,8
	CONTROL "HCP", IDC_STATIC, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,25,116,8
	CONTROL "", IDC_HCP_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 21,25,150,8
	CONTROL "", IDC_COMPILE_DATE, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,35,150,8
	CONTROL "", IDC_COMPILER_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,45,150,8
	CONTROL "Copyright \xA9 1999-" HYP_RELEASE_YEAR " by", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,60,86,8
	CONTROL "Thorsten Otto", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,75,47,8
	CONTROL "E-Mail:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,120,101,8
	CONTROL "halgara@yahoo.de", IDC_EMAIL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,120,101,8
	CONTROL IDB_EMAIL, IDC_EMAILLINK, "STATIC", SS_LEFT | SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 140,115,18,18
	CONTROL "WWW:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,145,136,8
	CONTROL HYP_URL, IDC_URL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,145,136,8
	CONTROL IDB_WEBLINK, IDC_WEBLINK, "BUTTON", BS_PUSHBUTTON | BS_BITMAP, 140,140,18,18
	CONTROL "&OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 58,160,50,14
END

IDD_SEARCHBOX DIALOG PRELOAD DISCARDABLE 0, 0, 208, 20
STYLE WS_CHILD | DS_3DLOOK
FONT 8, "MS Sans Serif"
BEGIN
        LTEXT           N_("Suche :"), IDC_STATIC, 5,5,40,8, SS_NOPREFIX
        LTEXT           "", IDC_SEARCH_ENTRY, 45,5,160,8, SS_NOPREFIX
        LTEXT           "nicht gefunden!", IDC_SEARCH_NOTFOUND, 210,5,40,8, SS_NOPREFIX | NOT WS_VISIBLE
END


IDD_HYPFIND DIALOG PRELOAD DISCARDABLE 0, 0, 208, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION N_("Text suchen")
FONT 8, "MS Sans Serif"
BEGIN
        LTEXT           N_("Search :"), IDC_STATIC, 5,7,40,8, SS_NOPREFIX
        EDITTEXT        IDC_HYPFIND_STRING, 45,5,160,12, ES_LEFT
        AUTOCHECKBOX    N_("Groß/Kleinschreibung"), IDC_HYPFIND_CASE, 20,25,90,14, WS_GROUP
        AUTOCHECKBOX    N_("Nur ganze Wörter"), IDC_HYPFIND_WORD, 120,25,90,14, WS_GROUP
        PUSHBUTTON      N_("in Seite"), IDC_HYPFIND_TEXT, 20,50,50,14, WS_GROUP
        DEFPUSHBUTTON   N_("als Seite"), IDC_HYPFIND_PAGES, 80,50,50,14, WS_GROUP
        PUSHBUTTON      N_("als Referenz"), IDC_HYPFIND_REF, 150,50,50,14, WS_GROUP
        PUSHBUTTON      N_("in allen Seiten"), IDC_HYPFIND_ALL_PAGE, 20,75,50,14, WS_GROUP
        PUSHBUTTON      N_("... aller Hypertexte"), IDC_HYPFIND_ALL_HYP, 80,75,60,14, WS_GROUP
        PUSHBUTTON      N_("&Abbruch"), IDCANCEL, 150,75,50,14, WS_GROUP
END


IDD_SEARCHRESULT DIALOG PRELOAD DISCARDABLE 0, 0, 408, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION N_("Such-Ergebnisse: %s")
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDC_SR_BOX, WC_LISTVIEWA, LVS_REPORT | LVS_SINGLESEL | LVS_ALIGNTOP | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,5,400,150
        DEFPUSHBUTTON      N_("&Abbruch"), IDCANCEL, 350,175,50,14, WS_GROUP
END


IDD_FONTSEL DIALOG PRELOAD DISCARDABLE 0, 0, 408, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION N_("Zeichensätze auswählen")
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX	N_("Standard Zeichensatz:"), IDC_FONT_BOX, 5,5,400,70
        EDITTEXT        IDC_FONT_TEXT, 15,15,230,50, ES_CENTER | ES_READONLY | NOT WS_TABSTOP | NOT WS_GROUP
        PUSHBUTTON      "&Font", IDC_FONT_BUTTON, 270,35,120,14, WS_GROUP
	GROUPBOX	N_("Alternativer Zeichensatz:"), IDC_XFONT_BOX, 5,85,400,70
        EDITTEXT        IDC_XFONT_TEXT, 15,95,230,50, ES_CENTER | ES_READONLY | NOT WS_TABSTOP | NOT WS_GROUP
        PUSHBUTTON      "&XFont", IDC_XFONT_BUTTON, 270,115,120,14, WS_GROUP
        PUSHBUTTON      N_("&Abbruch"), IDCANCEL, 290,175,50,14, WS_GROUP
        DEFPUSHBUTTON   N_("&OK"), IDOK, 350,175,50,14, WS_GROUP
END
