LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDR_MAIN_MENU MENUEX PRELOAD DISCARDABLE 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open Hypertext...\tCtrl+O",	IDM_FILE_OPEN
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Save text...\tCtrl+S",	IDM_FILE_SAVE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Catalog\tAlt+K",		IDM_FILE_CATALOG
		MENUITEM "&Default file\tAlt+D",	IDM_FILE_DEFAULT
		MENUITEM "&Remarker\tAlt+R",		IDM_FILE_REMARKER
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP "Open Recent", IDM_FILE_RECENTMENU
		BEGIN
			MENUITEM "recent-1\tCtrl+1",	IDM_FILE_RECENT_1
			MENUITEM "recent-2\tCtrl+2",	IDM_FILE_RECENT_2
			MENUITEM "recent-3\tCtrl+3",	IDM_FILE_RECENT_3
			MENUITEM "recent-4\tCtrl+4",	IDM_FILE_RECENT_4
			MENUITEM "recent-5\tCtrl+5",	IDM_FILE_RECENT_5
			MENUITEM "recent-6\tCtrl+6",	IDM_FILE_RECENT_6
			MENUITEM "recent-7\tCtrl+7",	IDM_FILE_RECENT_7
			MENUITEM "recent-8\tCtrl+8",	IDM_FILE_RECENT_8
			MENUITEM "recent-9\tCtrl+9",	IDM_FILE_RECENT_9
			MENUITEM "recent-10\tCtrl+0",	IDM_FILE_RECENT_10
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&File info...\tCtrl+I",	IDM_FILE_INFO
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Close\tCtrl+U",		IDM_FILE_CLOSE
		MENUITEM "&Quit\tCtrl+Q",		IDM_FILE_QUIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "Select &All",                 IDM_EDIT_SELECTALL
		MENUITEM "&Copy",                       IDM_EDIT_COPY
		MENUITEM "&Paste",                      IDM_EDIT_PASTE
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Find",                       IDM_EDIT_FIND
		MENUITEM "Find &Next",                  IDM_EDIT_FINDNEXT
	END
	POPUP "&Navigate"
	BEGIN
		MENUITEM "Previous logical page\tNumpad -",       IDM_NAV_PREV
		MENUITEM "Next logical page\tNumpad +",           IDM_NAV_NEXT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Previous physical page\tNumpad /",      IDM_NAV_PREVPHYS
		MENUITEM "Next physical page\tNumpad *",          IDM_NAV_NEXTPHYS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "First page",                  IDM_NAV_FIRST
		MENUITEM "Last page",                   IDM_NAV_LAST
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Contents\tAlt+T",                    IDM_NAV_TOC
		MENUITEM "Index\tAlt+X",                       IDM_NAV_INDEX
		MENUITEM "Show help page\tAlt+H",              IDM_NAV_HELP
		MENUITEM "", -1, MFT_SEPARATOR
		POPUP "&Bookmarks", IDM_NAV_BOOKMARKSMENU
		BEGIN
			MENUITEM "bookmark-1\tF1",      IDM_NAV_BOOKMARK_1
			MENUITEM "bookmark-2\tF2",      IDM_NAV_BOOKMARK_2
			MENUITEM "bookmark-3\tF3",      IDM_NAV_BOOKMARK_3
			MENUITEM "bookmark-4\tF4",      IDM_NAV_BOOKMARK_4
			MENUITEM "bookmark-5\tF5",      IDM_NAV_BOOKMARK_5
			MENUITEM "bookmark-6\tF6",      IDM_NAV_BOOKMARK_6
			MENUITEM "bookmark-7\tF7",      IDM_NAV_BOOKMARK_6
			MENUITEM "bookmark-8\tF8",      IDM_NAV_BOOKMARK_7
			MENUITEM "bookmark-9\tF9",      IDM_NAV_BOOKMARK_8
			MENUITEM "bookmark-10\tF10",    IDM_NAV_BOOKMARK_10
		END
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "Back one page\tBackSpace",    IDM_NAV_BACK
		MENUITEM "Clear stack\tAlt+E",          IDM_NAV_CLEARSTACK
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "&Font...\tAlt+Z",            IDM_OPT_SELECTFONT
		MENUITEM "&Colors...",                 IDM_OPT_SELECTCOLORS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Output...",                 IDM_OPT_OUTPUT
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Alternative font\tCtrl+Z",  IDM_OPT_ALTFONT
		MENUITEM "&Expand multiple spaces\tCtrl+L",  IDM_OPT_EXPANDSPACES
		// MENUITEM "&Scale bitmaps\tCtrl+B",     IDM_OPT_SCALEBITMAPS
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&Settings...",               IDM_OPT_PREFERENCES
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&Contents",                  IDM_HELP_CONTENTS
		MENUITEM "&Index",                     IDM_HELP_INDEX
		MENUITEM "", -1, MFT_SEPARATOR
		MENUITEM "&About",                     IDM_HELP_ABOUT
	END
END


IDD_ABOUT DIALOG PRELOAD DISCARDABLE 0, 0, 168, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "HypView Version info"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL IDR_MAINFRAME, IDC_HV_ICON, "STATIC", SS_ICON | SS_LEFT | WS_CHILD | WS_VISIBLE, 145,5,18,20
	CONTROL "ST-Guide HyperText File Viewer for Win32", IDC_STATIC, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,5,140,8
	CONTROL "Version " HYPVIEW_VERSION, IDC_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,15,116,8
	CONTROL "HCP", IDC_STATIC, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,25,116,8
	CONTROL "", IDC_HCP_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 21,25,150,8
	CONTROL "", IDC_COMPILE_DATE, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,35,150,8
	CONTROL "", IDC_COMPILER_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,45,150,8
	CONTROL "Copyright \xA9 1999-" HYP_RELEASE_YEAR " by", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,60,86,8
	CONTROL "Thorsten Otto", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,75,47,8
	CONTROL "E-Mail:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,120,101,8
	CONTROL "halgara@yahoo.de", IDC_EMAIL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,120,101,8
	CONTROL IDB_EMAIL, IDC_EMAILLINK, "STATIC", SS_LEFT | SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 140,115,18,18
	CONTROL "WWW:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,145,151,8
	CONTROL HYP_URL, IDC_URL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,145,136,8
	CONTROL IDB_WEBLINK, IDC_WEBLINK, "BUTTON", BS_PUSHBUTTON | BS_BITMAP, 140,140,18,18
	CONTROL "&OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 58,160,50,14
END


