#ifdef ENABLE_NLS

#define RT_MOFILE 257

#ifndef LANG_CZECH
#define LANG_CZECH 0x5
#endif
#ifndef SUBLANG_CZECH_CZECH_REPUBLIC
#define SUBLANG_CZECH_CZECH_REPUBLIC 0x1
#endif
LANGUAGE LANG_CZECH, SUBLANG_CZECH_CZECH_REPUBLIC
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./cs.gmo"
#ifndef LANG_GERMAN
#define LANG_GERMAN 0x7
#endif
#ifndef SUBLANG_GERMAN
#define SUBLANG_GERMAN 0x1
#endif
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./de.gmo"
#ifndef LANG_FRENCH
#define LANG_FRENCH 0xc
#endif
#ifndef SUBLANG_FRENCH
#define SUBLANG_FRENCH 0x1
#endif
LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./fr.gmo"

#define PO_TRANSLATIONS 0x0409, 1200, 0x0405, 1200, 0x0407, 1200, 0x040c, 1200

#ifndef LANG_ENGLISH
#define LANG_ENGLISH 0x9
#endif
#ifndef SUBLANG_ENGLISH_US
#define SUBLANG_ENGLISH_US 0x1
#endif
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#else

#define PO_TRANSLATIONS 0x0409, 1200

#endif
