#define RT_MOFILE 257

LANGUAGE LANG_CZECH, SUBLANG_CZECH_CZECH_REPUBLIC
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./cs.gmo"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./de.gmo"
LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./fr.gmo"

#define PO_TRANSLATIONS 0x0409, 1200, 0x0405, 1200, 0x0407, 1200, 0x040c, 1200

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

